<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Baños</ion-card-title>
      <ion-card-subtitle>Bañar al perro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Olerá muy lindo con nuestros shampoos </ion-card-content>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Spa</ion-card-title>
      <ion-card-subtitle>Demuestra lo lindo que es</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Pinta sus uñas y vistelo </ion-card-content>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Peluquería</ion-card-title>
      <ion-card-subtitle>Hazle un corte de cabello</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Deja que resalte su cabello con un peinado nuevo </ion-card-content>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Cuidado dermatologico</ion-card-title>
      <ion-card-subtitle>Cuidar a tu perro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Que su piel no se irrite </ion-card-content>
  </ion-card>
  <div class="contactar">
    <ion-button color="danger" routerLink="/contacto">Contactanos</ion-button>
  </div>
</ion-content>
