<ion-header color="secondary" [translucent]="true">
  <ion-toolbar color="success">
    <ion-title class="software">
      Inicio de sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <form>
    <ion-input label="Usuario" label-placement="floating" fill="outline" color="success" placeholder="Escribe tu usuario"></ion-input>

    <br />
    
    <ion-input label="Contraseña" label-placement="floating" fill="outline" color="success" placeholder="Escribe tu contraseña"></ion-input>
    <br>
    <div class="inputio">
      <ion-button class="Manubrio" routerLink="/servicios">Iniciar sesión</ion-button>
    </div>
  </form>
</ion-content>
